.project{
    width: 100%;
    margin:3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:40px;
    height: 50vh;
    margin-top: 5%; 
}

.project .left{
    text-align: left;
    margin: auto;
    padding: 2rem;
    margin-top: 2rem;
   
}
.project .left .p{
    margin: 1.2rem 0;
}
.project .right {
    max-width: 700px;
}
.right .img-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    align-items: center;
    text-align: center;
}
.right .img{
    max-width: 90%;
    border: 1px solid #333;
}

@media screen and (max-width:640px) {
    .project{
        display: grid;
    grid-template-columns: 1fr;
    grid-gap:40px;
    height: auto;
    }
   img{
    margin-left: 1rem;
   }
    .project .left{
        margin-left: 1rem;
        
    }
    
}