.project{
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:40px;
    position: relative;
   
    margin-top: 6%; 
}

.project .left{
    text-align: justify;
    margin: auto;
    padding:0 2rem;
    margin-top: 2rem;
   
}
#btn1{
    border-radius: 25px;
    display: none;
    position: absolute;
  top: 50%;
  left: 70%;

}
.right:hover #btn1 {
    display: block;
  }
  .right:hover .imge {
    opacity: 0.5;
  }
 
  
  
  
.horizontal-scroll-container{
    height: 84%;
}
.project .left .p{
    margin: 1.2rem 0;
}
.project .right {
    max-width: 700px;
}
.right .img-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    align-items: center;
    text-align: center;
}
.right .img{
    max-width: 90%;
    border: 1px solid #333;
}

@media screen and (max-width:1024px) {
    .project{
        display: grid;
    grid-template-columns: 1fr;
   
    height: auto;
    }
   
    
    .project .right {
        max-width: 371px;
    }
    #btn1{
      font-size: 16px;
        border-radius: 50px;
        display: none;
        position: absolute;
      top:78%;
      left: 20%;
    
    }
    .right:hover #btn1 {
        display: block;
      }
      .right:hover .imge {
        opacity: 0.5;
      }
      .imge{
        height:"15rem";
       width: auto;
      }
}